@{
	ViewData["Title"] = "Home Page";
}


<!-- Masthead-->
<header class="masthead ">
	<div class="container mb-5 px-4 px-lg-5 h-100">
		<div class="row gx-4 gx-lg-5 h-100 align-items-center justify-content-center text-center">
			<div class="col-lg-8 align-self-end">
				<div class="row text-center mb-2 mt-2">
					<div class="col-12">
						<h1 class="bck1 mb-3">
							DOCUMENT SAFE
						</h1>
						<h3 class="">
							Store and Search Your Documents
						</h3>
						<p class="text-decoration-underline pb-2 mb-3">
							Fast, Secure, Anonymous Service. Try Out And Start Uploading Your Documents Now !
						</p>
						<a class="btn btn-primary btn-xl" href="#steps">Find Out More</a>
						<a class="btn btn-secondary btn-xl" href="#services">Our Services</a>
						
					</div>
				</div>

				<img class="customImages1" src="~/images/5204685.jpg" />
			
			</div>

			<div class="col-lg-8 align-self-baseline">

				


			
				<p class="pt-2">Join millions of people who share and collaborate using Document Safe. We offer native secure file-sharing apps for all the major platforms. You can send and receive large files of any size, any format, be it videos, documents, images, whatever. Transfer files effortlessly via email or shareable links, whether on free or paid plans.</p>
				<hr class="divider" />
			</div>
		</div>
	</div>
</header>
<section class="page-section  mb-1 pb-1" id="steps">
	<div class="container text-center pb-3">
		<div class="row align-items-start">
			<div class="col">
				<img class="customImages" src="/images/selectFiles.png" alt="Choose Your Documents" />
				<h3 class="!mb-0">Choose Your Documents</h3><p>Browse and select the documents you want to upload. Can Upload Multiple Docs In One Click</p>
			</div>
			<div class="col">
				<img class="customImages" src="/images/uploadFiles.png" alt="Upload Your Files" />
				<h3 class="!mb-0">
					Upload Your Files
				</h3>
				<p>Once you select the files, we’ll start uploading them. With end-to-end encryption and a secure file hosting solution.</p>
			</div>
			<div class="col">
				<img class="customImages" src="/images/shareDownload.png" alt="Share The Download Link" />
				<h3 class="!mb-0">Share The Download Link</h3><p>After the upload is complete, we host your files in the cloud. You'll get a direct link to your stored files.</p>
			</div>
		</div>


	</div>

</section>
<!-- Services-->
<section class="page-section mt-5 pt-5 mb-5 pb-5" id="services">
	<div class="container px-4 px-lg-5">
		<h2 class="text-center bck mt-0">Our Service</h2>

		<div class="row gx-4 gx-lg-5">
			<div class="col-lg-4 col-md-6 text-center">
				<div class="mt-5">
					<div class="mb-2"><i class="bi bi-cloud-arrow-up fs-1 text-primary"></i></div>
					<h3 class="h4 mb-2">Unlimited Uploads</h3>
					<p class="text-muted mb-0">You can upload large files, Up To 5GB With No Limits!</p>
				</div>
			</div>
			<div class="col-lg-4 col-md-6 text-center">
				<div class="mt-5">
					<div class="mb-2"><i class="bi bi-window fs-1 text-primary"></i></div>
					<h3 class="h4 mb-2">AD-Free Uploads</h3>
					<p class="text-muted mb-0">Completely Free Service. Free of cost,ads and distractions.</p>
				</div>
			</div>
			<div class="col-lg-4 col-md-6 text-center">
				<div class="mt-5">
					<div class="mb-2"><i class="bi bi-speedometer2 fs-1 text-primary"></i></div>
					<h3 class="h4 mb-2">Fast Transefare Rates</h3>
					<p class="text-muted mb-0">You will get full speed access for uploading and downloading!</p>
				</div>
			</div>
			<div class="col-lg-4 col-md-6 text-center">
				<div class="mt-5">
					<div class="mb-2"><i class="bi bi-file-lock fs-1 text-primary"></i></div>
					<h3 class="h4 mb-2">Secure File Upload</h3>
					<p class="text-muted mb-0">Your files are stored and transferred securely</p>
				</div>
			</div>
			<div class="col-lg-4 col-md-6 text-center">
				<div class="mt-5">
					<div class="mb-2"><i class="bi bi-pc-display fs-1 text-primary"></i></div>
					<h3 class="h4 mb-2">
						On All Platforms
					</h3>
					<p class="text-muted mb-0">You can upload documents using a browser of computer or mobile.</p>
				</div>
			</div>
			<div class="col-lg-4 col-md-6 text-center">
				<div class="mt-5">
					<div class="mb-2"><i class="bi bi-clipboard-pulse fs-1 text-primary"></i></div>
					<h3 class="h4 mb-2">
						Anti-Virus Protection
					</h3>
					<p class="text-muted mb-0">We scan all documents uploaded to safe for viruses and malware</p>
				</div>
			</div>




		</div>
	</div>
</section>
<!-- About-->
<section class="page-section bg-primary pt-5 pb-5" id="about">
	<div class="container px-4 px-lg-5">
		<div class="row gx-4 gx-lg-5 justify-content-center">
			<div class="col-lg-8 text-center">
				<h2 class="text-white mt-0">We've got what you need!</h2>
				<hr class="divider divider-light" />
				<p class="text-white mb-4">
					Unlimited Sharing, Documents Preview, Searching Documents, More Features To Figure Out
				</p>
				<a class="btn btn-light btn-xl" asp-area="Identity" asp-page="/Account/Register">Get Started!</a>
			</div>
		</div>
	</div>
</section>
