
@model List<Document>

<h4>Search Into Documents</h4>
<form id="searchForm">
	<div class="input-group mb-3">
		<input id="searchInput" type="text" name="query" class="form-control" placeholder="Search Into Documents..." />
		<button id="searchBtn" type="button" class="btn btn-outline-primary">Search</button>
	</div>
</form>
<br />
<br />
<div class="container">

	<table id="tblData" class="table table-striped table-bordered display" style="width:100%">
		<thead>
			<tr>
				<th style="width:5%">Document Id</th>
				<th style="width:40%">Document Name</th>
				<th style="width:10%">Added</th>

				<th style="width:25%">Notes</th>
				<th ></th>
			</tr>
		</thead>

	</table>

</div>

@section Scripts {

	@{
		<script src="~/js/userdocument.js"></script>
				<partial name="_ValidationScriptsPartial" />
	}
}