@model List<Document>


<h4>Search Into Documents</h4>
<form id="searchForm">
	<div class="input-group mb-3">
		<input id="searchInput" type="text" name="query" class="form-control" placeholder="Search Into Documents..." />
		<button id="searchBtn" type="button" class="btn btn-outline-primary">Search</button>
	</div>
</form>
<br />
<br />
<div class="container">


	<table id="tblData" class="table table-striped table-bordered display" style="width:100%">
		<thead class="thead-dark">
			<tr class="">
				<th>Document Id</th>
				<th>Document Name</th>
				<th>User Name</th>

				<th>Added</th>
				<th>Notes</th>
				<th>Operations</th>
			</tr>
		</thead>
	</table>

</div>

@section Scripts {

	@{
		<script src="~/js/documentManage.js"></script>
				<partial name="_ValidationScriptsPartial" />
	}
}